<h1 class="mt20 text-center">Preguntas del examen {{examen.titulo}}</h1>
<div class="bootstrap-wrapper">
    <div class="row">
        <div class="col-md-12">
            <div class="container text-center">
                <button mat-raised-button [routerLink] = "'/profesor/add-pregunta/'+examen.id+'/'+examen.titulo" color = "primary">
                    Agregar Pregunta                    
                </button>
            </div>

            <mat-card *ngFor = "let p of preguntas; let i = index"  class="mt20">
                <mat-card-content>
                    <p>
                        <b> {{i + 1}} 
                        <span class="ml20" [innerHTML] = "p.contenido" ></span></b>
                    </p>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6">
                                <p>1) {{p.opcion1}} </p>
                            </div>

                            <div class="col-md-6">
                                <p>2) {{p.opcion2}} </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <p>3) {{p.opcion3}} </p>
                            </div>

                            <div class="col-md-6">
                                <p>4) {{p.opcion4}} </p>
                            </div>
                        </div>

                        <mat-divider></mat-divider>
                        
                        <p class="mt20">
                            <b>Respuesta correcta : {{p.respuesta}}</b>
                        </p>
                    </div>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-button (click) = 'eliminarPregunta(p.id)' color="warn">Eliminar</button>
                    <button mat-button (click) = 'moverPregunta(p)' color="primary">Modificar</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>