<mat-card>
    <h1 class="text-center">Agregar Curso</h1>
    <mat-card-content>
        <div class="bootstrap-wrapper">
            <div class="row">
                <div class="col-md-8 offset-md-2">
                    <form (ngSubmit) = "guardarCurso()">
                        <mat-form-field class="w100" appearance = "outline">
                            <mat-label>Curso Nuevo</mat-label>
                            <input required autofocus type="text" name="name" [(ngModel)] = "curso.name" matInput placeholder="Digite el nombre del curso">
                        </mat-form-field>

                        <mat-form-field class="w100" appearance = "outline">
                            <mat-label>Descripcion</mat-label>
                            <textarea name="descripcion" [(ngModel)] = "curso.descripcion" matInput placeholder="Digite la descripcion del curso" rows="15" ></textarea>
                        </mat-form-field>

                        <div class="container text-center mt15">
                            <button mat-raised-button color="primary">Guardar</button>
                        </div>

                    </form>
                    
                </div>
            </div>
        </div>
    </mat-card-content>
</mat-card>