<mat-card class="mt20">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <mat-card-header>
                    <mat-card-title>Bienvenido Administrador</mat-card-title>
                </mat-card-header>

                <mat-card-subtitle>Panel del Adnimistrador</mat-card-subtitle>
                
                <mat-card-content class="ml-30">
                    <h1></h1>
                    <p></p>
                    <mat-divider></mat-divider>
                    <br>
                    <h1>Sus funciones : </h1>

                    <ul>
                        <li>Gestionar los cursos (agregar, modificar,eliminar)</li>
                        <li>Gestionar los profesores</li>
                        <li>Agregar los profesores</li>
                        <li>Gestionar los alumnos</li>
                        <li>Agregar los alumnos</li>
                    </ul>

                    <mat-divider></mat-divider>
                    <br>



                </mat-card-content>
            </div>
        </div>
    </div>
    
</mat-card>
